.wrapper {
    display: grid;
}

.wrapper > div {
    background-color: #eee;
}

.wrapper > div:nth-child(odd) {
    background-color: #ddd;
}

.card1 {
    grid-row: 1/5;
    grid-column: 1/4;
    align-self: start;
    justify-self: center;
}

.title {
    font-size: 100px;
    letter-spacing: 0.15em;
    font-weight: 100;
    font-variant: all-petite-caps;
}

.all-petite-caps {
    font-variant: all-petite-caps;
}

.bg-dark-grey {
    background: #555d;
}

.card2 {
    align-self: start;
    grid-column: 2/4;
    grid-row: 2/3;
    box-shadow: inset -8px 8px 6px #ccc;
}

.card2:hover {
    z-index: 1;
    box-shadow: -10px 0px 5px #ccc;
}

.card3 {
    grid-column: 5/9;
    grid-row: 1/5;
    align-self: center;
}

.card4 {
    align-self: end;
    grid-column: 4/6;
    grid-row: 1/2;
    box-shadow: -10px 10px 5px 0px #ccc;
}

.card6 {
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}

.card5 {
    grid-column: 4/9;
    grid-row: 1/5;
    z-index: -1;
}

.margin-top-20 {
    margin-top: 20px;
}

.section1 {
    background-color: #ddd;
}


section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section:nth-child(1){
    color: #e0ffff;
    }
  section:nth-child(2){
    color: #42455a;
    background: #e0ffff;
  } 
  section:nth-child(3){
    color: #e0ffff;
  }
  section:nth-child(4){
    color: #42455a;
    background: #e0ffff;
  }
  section .container{
    margin: 100px;
  }
  section h1{
    font-size: 3rem;
    margin: 20px;
  }
  section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #587f99;
  }
  section .text-container{
     display: flex;
  }
  section .text-container .text-box{
    margin: 20px;
    padding: 20px;
    background: #00c2cb;
  }
  section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .align-self-end {
      align-self: end;
  }

  .card7 {
    background-color: #fff;
    grid-row: 2/3;
    height: 50%;
    grid-column: 4/5;
}

#bg-white {
    background-color: #fff;
}

.audience {
    display: flex;
    width: 100%;
}

.w-500 {
    width: 500px;
    margin: auto;
}

.stage {
    background: #fff;
    padding: 10px;
    border-radius: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.presentation {
    background: transparent;
    color: #eee;
    text-align: center;
    font-size: 40px;
    letter-spacing: 25px;
}

.font-size-30 {
    font-size: 30px;
}

#present {
    padding-bottom: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-top-50 {
    padding-top: 50px;
}

.w-100 {
    width:100%;
}

.d-flex {
    display: flex;
}

#main-container {
    padding-top: 50px;
}