<div class="ui one column doubling grid">
    <div id="main-container" class="column">
        <div class="wrapper">
            <div class="card1">
                <h1 class="title">Imagine</h1>
            </div>
            <div class="card2">
                <app-head-outline [shape]="'head-shape-imagine'"></app-head-outline>
            </div>
            <div class="card3">
                <app-head-outline [shape]="'head-shape-hat'"></app-head-outline>
            </div>
            <div class="card4">
                <app-head-outline [shape]="'head-shape-hat'"></app-head-outline>
            </div>
            <div class="card6">
                <app-head-outline [shape]="'head-shape-imagine'"></app-head-outline>
            </div>
            <div class="card5"></div>
            <div id="bg-white" class="card7"></div>
        </div>
    </div>
</div>

<div class="ui one column grid">
    <div class="column">
        <section class="section1">
            <app-sketch-girl class="w-100 align-self-end d-flex"></app-sketch-girl>
            <div class="container reveal">
                <h2>Sketch</h2>
                <div class="text-container">
                    <div class="text-box">
                        <h3>Section Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                            eius molestiae perferendis eos provident vitae iste.
                        </p>
                    </div>
                    <div class="text-box">
                        <h3>Section Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                            eius molestiae perferendis eos provident vitae iste.
                        </p>
                    </div>
                    <div class="text-box">
                        <h3>Section Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                            eius molestiae perferendis eos provident vitae iste.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="ui one column grid">
    <div id="present" class="column bg-dark-grey padding-bottom-0">
        <div class="section1 presentation">
            <div class="container">
                <h2 class="all-petite-caps font-size-30">And let us do the work</h2>
            </div>
        </div>
        <div class="w-500 stage">
            <app-ornament></app-ornament>
        </div>
        <div class="audience">
            <app-audience class="w-100 d-flex"></app-audience>
        </div>
    </div>
</div>