<nav id="main-nav" class="ui secondary pointing menu custom-menu">
  <div class="d-flex">
  <a routerLink="/imagine" routerLinkActive="active" class="item">Home</a>
  <a routerLink="/products" routerLinkActive="active" class="item">Products</a>
  <a routerLink="/about" class="item">About</a>
  </div><div style="width: inherit;" class="d-flex justify-content-end">
  <a routerLink="/authentication" routerLinkActive="active" class="item float-right justify-content-end"><i class="user outline icon"></i></a>
</div></nav>
<div class="ui">
  <router-outlet></router-outlet>
</div>



<footer class="footer margin-top-10">
  <div>
    This will be text in the footer
  </div>
  <div>
    Make sure you include enough information about us
  </div>
  <div>
    You can add credits here
  </div>
  <div>
    Also here a map can be found or email contact social media pages
  </div>
</footer>